<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='Edit on ad')" />


<body>
<nav th:replace="fragments/navbar :: newNavbar"/>
<div class="container">
    <section th:replace="fragments/form :: post_form(
             action=${'/posts/' + post.id + '/edit'},
             post=${post},
             label ='Update post'
             )"/>
    <input class="btn btn-primary" type="submit" th:value="Edit" />
    <!--<input class="btn btn-danger" type="submit" th:value="Delete" />-->

</div>
<!--<span th:replace="fragments :: scripts" />-->
</body>
</html>