<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:replace="fragments :: head(title='View all ads')"/>
<body>
<nav th:replace="fragments :: navbar"/>
<div class="container">
    <h1>All ads</h1>
    <a
            sec:authorize="isAuthenticated()"
            class="btn btn-success"
            href="/ads/create"
    >
        Create a Post!
    </a>
    <div id="load-ads"></div>
</div>
<span th:replace="fragments :: scripts"/>
<script src="/scripts/posts-list.js"></script>
</body>
</html>

