<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='View a single ad')"/>
<body>
<nav th:replace="fragments :: navbar"/>
<div class="container">
    <h1 th:text="${ad.title}" />
    <p th:text="${ad.description}" />
    <img th:attr="src=${'/uploads/' + ad.image}" />
    <p class="lead">
        Posted by
        <a th:href="${'/users/' + ad.user.id}" th:text="${ad.user.username}"/>,
        Contact at
        <a th:href="${'mailto:' + ad.user.email}" th:text="${ad.user.email}"/>
    </p>
</div>
<span th:replace="fragments :: scripts"/>
</body>
</html>